<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="FolderPath" value="E:\steam\steamapps\workshop\content\289070"/>
    <add key="DestinationPath" value="C:\Users\Nick\Desktop"/>
    <add key="HashFile" value="C:\Users\Nick\Desktop\hash.txt"/>
  </appSettings>
</configuration>